hostname: http://0.0.0.0:8000
use_gzjoin: true
sqd_network:
  datasets: https://cdn.subsquid.io/sqd-network/datasets-testnet.yml
  serve: "all"
datasets:
  solana-mainnet:
    aliases: ["solana-beta"]
    kind: "solana"
  base-mainnet:
    kind: "evm"
    aliases: ["base"]
    real_time:
      url: http://localhost:9090
priorities:
  window_ok_secs: 60
  window_slow_secs: 60
  window_errors_secs: 120
