hostname: http://0.0.0.0:8000
sqd_network:
  datasets: https://cdn.subsquid.io/sqd-network/datasets-testnet.yml
  serve: "all"
datasets:
  # An example of a dataset configured to use real-time data
  base-mainnet:
    real_time:
      url: http://localhost:9090
